# Dependencias (en cualquier nivel)
**/node_modules/
node_modules/
package-lock.json.bak
npm-debug.log*
yarn-debug.log*

# Entorno y Secretos (CRÍTICO)
# **/.env
# **/.env.*
# .env
# *.env

# Build y Temporales
**/dist/
**/build/
**/logs/
*.log
.DS_Store

# Docker
.dockerignore
